# Dev: Report Tables

In [1]:
import os
import sys

os.chdir(os.path.join(sys.path[0], '..')) # Change WD to Proj Root
# print(os.getcwd(), sys.path)
import tirads
from tirads import tirads_map_desc
import pandas as pd

In [2]:
res1 = tirads.TIRADSReport("solid", "hyper", "taller", "smooth", ("punctate", "none-comet"), size_cm=None)
print(res1)

-- TIRADS Report --

Level: TR5 (Highly Suspicious)
Total Points: 9

Points by Category:
- composition: 2
- echogenicity: 1
- shape: 3
- margin: 0
- echogenic_foci: 3

Description:
- composition: Solid or almost completely solid (2)
- echogenicity: Hyperechoic or Isoechoic (1)
- shape: Taller-than-wide (3)
- margin: Smooth (0)
- echogenic_foci: Punctate echogenic foci (3), None or Large comet-tail artifacts (0)

Suggested Actions:
- FNA: ?
- Follow-up: ?

In [3]:
str(res1)

'-- TIRADS Report --\n\nLevel: TR5 (Highly Suspicious)\nTotal Points: 9\n\nPoints by Category:\n- composition: 2\n- echogenicity: 1\n- shape: 3\n- margin: 0\n- echogenic_foci: 3\n\nDescription:\n- composition: Solid or almost completely solid (2)\n- echogenicity: Hyperechoic or Isoechoic (1)\n- shape: Taller-than-wide (3)\n- margin: Smooth (0)\n- echogenic_foci: Punctate echogenic foci (3), None or Large comet-tail artifacts (0)\n\nSuggested Actions:\n- FNA: ?\n- Follow-up: ?'

## Markdown String

In [4]:
print(res1.to_md_str_actions())

### Suggested Actions:
- FNA: if ≥ 1 cm
- Follow-up: if ≥ 0.5 cm

## Make Table

In [10]:
res1.get_points_df()

       Categories                                             Points
0     Composition               Solid or almost completely solid (2)
1    Echogenicity                       Hyperechoic or Isoechoic (1)
2           Shape                               Taller-than-wide (3)
3          Margin                                         Smooth (0)
4  Echogenic foci  Punctate echogenic foci (3), None or Large com...
5           Total                                                  9

In [68]:
res1_df = pd.DataFrame({
    "Categories": [k.capitalize().replace("_", " ") for k in tirads_map_desc.keys()],
    "Points": res1.desc.values()
    })
res1_df

       Categories                                             Points
0     Composition               Solid or almost completely solid (2)
1    Echogenicity                                     Hypoechoic (2)
2           Shape                               Taller-than-wide (3)
3          Margin                                         Smooth (0)
4  Echogenic foci  Punctate echogenic foci (3), None or Large com...

In [70]:
res1_dfcp = res1_df.copy()
res1_dfcp.loc[len(res1_df)] = ["Total", res1.pt["points_tot"]]
res1_dfcp

       Categories                                             Points
0     Composition               Solid or almost completely solid (2)
1    Echogenicity                                     Hypoechoic (2)
2           Shape                               Taller-than-wide (3)
3          Margin                                         Smooth (0)
4  Echogenic foci  Punctate echogenic foci (3), None or Large com...
5           Total                                                 10

In [46]:
df1 = pd.DataFrame({"x": [1, 2], "y": [3, 4]})

# Add new row at the last position
df1.loc[len(df1)] = [5, 6]
df1

   x  y
0  1  3
1  2  4
2  5  6

## HowTo

### Tuple to list

In [12]:
tup1 = ("A", "B", "C")
list(tup1)

['A', 'B', 'C']

In [6]:
from datetime import datetime
datetime.now().strftime('%d/%m/%Y')

print(current_date)

23/03/2024

In [7]:
__import__('datetime').datetime.now().strftime('%d/%m/%Y')

'23/03/2024'